.show-card {
    padding: 5px;
}

.wrapper__header {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
}

.show-card-photos_wrapper {
    display: flex;
    justify-content: center;
}
.set-margin{
    padding: 10px;
}

.show-card-photos{    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);        
    gap: 10px;
    overflow: hidden;
    margin-bottom: 30px;  
    padding: 0px;
    height: 65vh;
    width: 80vw;
    border-radius: 30px;
}

.item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.show-card-photos img{
    width: 100%;
    height: 100%;
}

.head-title {
    font-weight: bold;
    padding-top: 25px;
}

.head-review {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
}


.listing-container {
    margin-top: 10px;

}





.listing-info {
    border-bottom: 1px solid #cccbc4;
    padding-top: 0;
    padding-bottom: 20px;
}

.listing-description {
    border-bottom: 1px solid #cccbc4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.map-container {
    padding-top: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #cccbc4;

}

.map {
    width: 100%;
    height: 478px;
}

.review-container {
    padding-top: 30px;
    padding-bottom: 40px;
}

.review-button {
    width: 200px;
    height: 50px;
    background-color: #fff;
    /* border-color: #ffe135; */
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.back-link {
    color: black;
}

.button-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.listing-divider {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    gap: 50px;

}

.review{
    display: flex;
    gap: 20px;
}