.signup-page {
  width: 50%;
  margin: auto;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-page h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}