.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.logo {
    height: 40px;
    width: 40px;
    object-fit: cover;
    display: flex;
    align-items: center;
}