.container-flex{
    display: flex;
    justify-content: space-between;
}

.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 50px;
    width: 50px;
}

.main-title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    color: #f1c232;
    height: 50px;
}

/* Search bar */
.d-flex {
    width: 40%;
}

.d-flex input {
    border: 2px solid #e3dede60;
    box-shadow: 0px 2px 3px #e3dede60;
    border-radius: 8px;
}

.d-flex input:hover {
    box-shadow: 0px 4px 6px #ffe135;
}

/* Drop Down menu */
.dropdown

.dropdown-login-signup {
    font-size: 14px;
    font-weight: 400;
    padding: 0px 10px;
}

.navbar-main {
    /* background-color: #e5e5e5;  */
}