.logo {
    height: 50px;
    width: 50px;
    object-fit: cover;
    display: flex;
    /* align-items: center; */
}

.banana-img {
    width: 50px;
    margin-right: 15px;
}

.session-links {
    display:flex;
    justify-content:right;
}

header{
    display: flex;
    justify-content:space-between;
}